/* styles/globals.css */
* {
  -webkit-tap-highlight-color: transparent;
}

body.lock-position {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50vh;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
